
<div>
    <button ></button>
</div>

<div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
         <div class="form-group">
            <label>Department Name: </label>
            {{ form.dept }}
         </div>
         <div class="form-group">
            <label>Select Ward No.</label>
            {{ form.ward_no }}
         </div>
         <div class="form-group">
            <label>Description: </label>
            {{ form.description }}
         </div>
         <div class="form-group">
            <label>Image: </label>
            {{ form.image }}
         </div>
         

        <input type="submit" value="Submit" />
    </form>
</div>