{% extends 'header.html' %}

{% block style %}{% endblock style%}

{% block content %}
<div>
    <div>
        <a href="{% url 'lodge_grevance' %}">Lodge your grevance</a>
    </div>

    <div>
        <h1>All posts</h1>
        {% for post in posts %}

        <div class="post-tile">
            <img src="/media/{{post.image}}" alt="Post Image">
            <h2> {{ post.ward_no }}</h2>
            <p class="description">{{ post.description|truncatewords:6 }}</p>
            <a href="{% url 'view_grevance' post.id %}" class="read-more-btn">Read More</a>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}