<div>
    <form action="" method="post">
        {% csrf_token %}
        
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password">

        <input type="submit" value="Login" />
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up here</a>.</p>
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
    </form>
</div>